<mat-card>
  <mat-tab-group headerPosition="below" class="child-tab">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">sign_language</mat-icon>
      </ng-template>
      <div class="child-tab-body">
        @for (resource of (resources$ | async); track resource.id) {
        <div style="margin-bottom: 5px; position: relative;">
          <mat-progress-bar
            (click)="updateResourceMult(resource, 2)"
            class="example-margin"
            mode="determinate"
            [value]="(normalizedResources$ | async)?.[resource.id]?.value"
          >
          </mat-progress-bar>
          <div class="progress-text" style=" z-index: 100;">{{resource.label}} | {{resource.value}} | {{resource.multiplier}}x</div>
        </div>
        }
        <mat-card>
          <mat-card-content>
            <div>
              Remaining Time:
              {{ (remainingTime$ | async) ?? 0 | minutesSeconds }}
            </div>
            <div>
              Run Duration: {{ (elapsedTime$ | async) ?? 0 | minutesSeconds }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">spa</mat-icon>
      </ng-template>
      <div class="child-tab-body">
        <lib-piano-roll-v2></lib-piano-roll-v2>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">school</mat-icon>
      </ng-template>

      <div class="child-tab-body">
        <div>Time Remaining:</div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
